html,
body {
  padding: 0;
  margin: 0;
}

.pokedex-app {
  .header-slot {
    width: 100%;
    height: $header-slot-heihgt;
  }

  .content-slot {
    display: block;
    width: 100%;
    height: calc(100% - #{$header-slot-heihgt});
  }

  div {
    box-sizing: border-box;
  }

}